@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");


/*laptops*/
@media only screen (min-width: 1200px) and (max-width: 1800px) {
	
	#about {
	width: 400px;
    left: 800px;
    margin-top: -55px;
    text-align: left;
    position: fixed;
    font-family: 'courier new';
    font-size: 14px;
    line-height: 15px;
    color: #3021ff;
}


.nav{
	position: fixed;
	font-family: courier new;
	text-color: white;
	margin-top: -10px;
	margin-left: -40px;
	text-align: left;
	font-size: 11px;
    overflow: scroll;
	overflow-y: scroll !important;
    width: 1em;
    outline: 1px;
    width:250px;
    height:400px;
	cursor: help;
}


}

/*ipads*/
@media only screen (min-width: 320px) and (max-width: 749px) {

}

/*phone*/
@media only screen (min-width: 320px) and (max-width: 749px) {
.vraag{
	font-size:36px;
	line-height:40px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #000;
	margin-bottom: -13px;
	margin-top: 10px;
	text-rendering: optimizeLegibility;
	letter-spacing: 0pt;
/*	cursor: help; /* https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
}

.antwoord{
	display: none;
	font-size:26px;
	line-height:30px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 27px;
	margin-bottom: 20px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}

.antwoord2{
	font-size:26px;
	line-height:30px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 27px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}

.antwoord3{
	font-size:26px;
	line-height:30px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 27px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}
	
}



body {	
	margin-top: 30px; 
	margin-left: 50px;
	margin-bottom: 600px;
	background-color: #fafafa;
	padding:0px;
	text-align:left;
	text-rendering: optimizeLegibility;
	font-family: Georgia, serif;
	color: #0500ff;
	cursor: help;
	min-width: 600px;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a:hover {
    color: #0500ff;
}

/* selected link */
a:active {
    text-decoration: none;
}

#menu{
	width: 900px;
	font-family: 'courier new';
	font-size: 14px;
	line-height: 15px;
	padding-bottom: 15px;
}

#about {
	width: 400px;
    right: -150px;
    margin-top: -55px;
    text-align: left;
    position: fixed;
    font-family: 'courier new';
    font-size: 14px;
    line-height: 15px;
    color: #3021ff;
}


.nav{
	position: fixed;
	font-family: courier new;
	text-color: white;
	margin-top: -10px;
	margin-left: -40px;
	text-align: left;
	font-size: 11px;
    overflow: scroll;
	overflow-y: scroll !important;
    width: 1em;
    outline: 1px;
    width:250px;
    height:400px;
	cursor: help;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #0500ff;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


#footer{
	font-family: georgia;
	color: black;
	position: fixed;
	bottom: 40px;
	right: 190px;
	text-align: left;
	width: 60px;
	line-height: -40pt;
}

#footer > a:before {
	content: "?"
}

#footer.main > a {
    font-size: 80px;
    color: #0500ff !important;
}

#footer.main > a:before {
	content: "A"
}


.index-print{
	display: none;
	font-size:28px;
	line-height:30px;
	text-decoration: none;
	font-weight: normal;
	text-transform: none;
	color: #000;
	background-color: #ffffff;
	margin-bottom: -14px;
	margin-top: 10px;
	
}

#content{
	max-width:800px;
	padding-right: 250px;
}


.content img, .antwoord2 img, .antwoord3 img {
	max-width: 200px;
	float: right;
	margin: 2px;
} 


.vraag{
	font-size:28px;
	line-height:32px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #000;
	margin-bottom: -13px;
	margin-top: 10px;
	text-rendering: optimizeLegibility;
	letter-spacing: 0pt;
/*	cursor: help; /* https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
}


.antwoord{
	display: none;
	font-size:18px;
	line-height:20px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 27px;
	margin-bottom: 20px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}




.antwoord2{
	font-size:18px;
	line-height:20px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 27px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}


.antwoord3{
	-webkit-columns: 2 150px;
	-moz-columns: 2 150px;
	columns: 2 150px;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	font-size:18px;
	line-height:20px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0pt;
	color: #000;
	max-width: 650px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 27px;
	text-indent: 3em;
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
}


.footnote {
	text-indent: 0em;
    text-align: left;
    font-family: 'courier new';
    font-weight: normal;
    font-size: 12px;
	line-height: 12px;
	color:#0500ff; 
	max-width: 400px;
	margin-top: -10px;
	margin-bottom: 27px;
	}

sup {
    margin-top: -5px;
    text-align: left;
    font-family: 'georgia';
    font-weight: normal;
    font-size: 12px;
	line-height: 10px;
	color:#0500ff; 
}
	
.bronnen{
	margin-top: -5px;
    text-align: left;
    font-family: 'courier new';
    font-weight: normal;
    font-size: 12px;
	line-height: 12px;
	color:#0500ff; 
	max-width: 500px;
	
}


@media print { 
	.index-print{
		display: inherit;	
	}

	body{
	margin-left: 250px;
	max-width: 450px;	
	}
	
	#about {
		display: none;}
	
	.nav {
		display: none;	}
		
	.antwoord {
		display: none;
	}
	
	.vraag {
	font-size:16px;
	line-height:18px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #000;
	background-color: #ffffff;
	margin-bottom: -14px;
	margin-top: 10px;
	max-width: 600px;
	}
	
	.antwoord2{
	font-size:10px;
	line-height:12px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #000;
	background-color: #ffffff;
	max-width: 500px;
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 25px;
	text-indent: 3em;
	}
	
	/*p1 {
	margin-top: -5px;
    text-align: left;
    font-family: 'courier new';
    font-weight: normal;
    font-size: 8px;
	line-height: 10px;
	color:#ff0000; 
	max-width: 400px;
	}*/
	
	sup {
	margin-top: -5px;
    text-align: left;
    font-family: 'courier new';
    font-weight: normal;
    font-size: 8px;
	line-height: 10px;
	color:#ff0000; 
	max-width: 400px;
	}
	
	bronnen {
	margin-top: -5px;
    text-align: left;
    font-family: 'courier new';
    font-weight: normal;
    font-size: 8px;
	line-height: 10px;
	color:#ff0000; 
	max-width: 400px;
	}
	
}

