@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");


body {
	max-width:650px;
	margin-top:60px; 
	margin-left:80px;
	padding:0px;
	text-align:left;
	font-family: georgia;
	font-size:16px;
	line-height:19px;
	letter-spacing:1px;
	text-decoration: none;

}

body {
	background-color: #FFF;
}

A:link {
	color: #000000;
	text-decoration: none;
}

A:active {
	color: #000000;
	text-decoration: none;
}

A:visited { color: #3021ff;	
}


.style {
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	background-color: #FFF;
	letter-spacing: 20pt;
	text-align: left;
	height: auto;
	width: auto;
}

#about {
	width: 450px;
    right: -150px;
    margin-top: -20px;
    text-align: left;
    position: fixed;
}

ul{
    list-style-type: none;
}

nav{
	width: 650px;
	position: fixed;
	font-family: 'georgia', sans-serif;
	margin-top: -10px;
	margin-left: -40px;
	font-size: 12px;
	text-align: left;
    line-height: 13px;
	font-weight: 400;
    
}


a.footnote {
	outline:none; 
	}
	
a.footnote strong {	
	line-height:-50px;
	}
	
a.footnote:hover {
	text-decoration:none;
	}
	 
a.footnote span {
	font-size:12px;
	line-height:15px;
    z-index:8;
    display:none; 
    padding:10px 15px;
    margin-top:-30px; 
    margin-left:28px;
    width:450px;     
	}

a.footnote:hover span{
    display:inline; 
    position:absolute; 
    color:#FFF;
    border:1px solid #DCA; 
    background:#3021ff;}
    
.callout {
	z-index:10;
	position:absolute;
	top:10px;
	border:0;
	left:-12px;
	}

sup{
	line-height: 10px;
	color:#3021ff; 
}



